services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4200:4200"
    volumes:
      - ./:/app
      - /app/node_modules
    tty: true
    stdin_open: true
    command: ng serve --host 0.0.0.0 --poll=2000
