.footer {
  margin: 0 0 2rem 0;
  display: flex;

  p {
    font-size: .85rem;
    color: #03e9f4;
  }

  p:hover {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

@media (max-width: 900px) {
  .footer {
    margin: 0 0 1rem 0;
    align-items: center;
    justify-content: center;
  }
}
