.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 70rem;
  height: 100%;

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .profile {
      display: flex;
    }

    .navbar {
      margin-top: 2rem;
    }
  }

  .social-link {
    margin-top: 4rem;
  }
}

@media (max-width: 900px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;

    .header-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .profile {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .social-link {
      margin-top: 0;
    }
  }
}
