.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  height: 100%;
  padding: var(--spacing-6) 0;

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;

    .profile {
      display: flex;
      margin-bottom: var(--spacing-8);
    }

    .navbar {
      // margin-top: var(--spacing-8);
    }

    .language-selector-wrapper-desktop {
      margin-top: var(--spacing-4);
    }
  }

  .social-link {
    margin-top: auto;
    padding-top: var(--spacing-8);

    .language-selector-wrapper-mobile {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
    padding: var(--spacing-6) 0 0 0;

    .header-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
      }

      .navbar {
        margin-top: var(--spacing-4);
      }

      .language-selector-wrapper-desktop {
        display: none;
      }
    }

    .social-link {
      // margin-top: var(--spacing-6);
      padding-top: 0;
      display: contents;

      .language-selector-wrapper-mobile {
        display: flex;
        margin-top: var(--spacing-4);
      }
    }
  }
}
