<section class="header">
  <div class="left-side">
    <div class="profile-info">
      <span class="name">OSEAS OLIVEIRA</span>
      <span class="subtitle">Junior Developer</span>
      <span class="description">Building solutions through code.</span>
    </div>
    <div class="navbar">
      <app-navbar></app-navbar>
    </div>
  </div>

  <div class="right-side">
    <div class="about-profile">
      <span class="about-text">
        <div class="inline-profile-image">
          <img [src]="profileImage" alt="Profile Image" />
        </div>
        Sou um desenvolvedor júnior com uma trajetória que une experiências
        práticas e uma perspectiva diferenciada. Minha jornada na tecnologia
        começou em 2005, quando o web design despertou em mim uma curiosidade
        que continua até hoje.<br /><br />

        Depois de 12 anos na área da gastronomia, onde aprendi a lidar com a
        pressão e a valorizar cada detalhe. Em 2024, Decidi mudar de rumo e
        mergulhar no universo da programação. Essa transição foi algo natural,
        combinando a criatividade e a disciplina que desenvolvi na cozinha com a
        paixão por tecnologia.<br /><br />
        Hoje, encaro cada desafio de programação com uma abordagem prática e um
        forte desejo de aprender e evoluir. Gosto de trabalhar em projetos que
        realmente fazem a diferença, e estou sempre animado para adquirir novos
        conhecimentos e aprimorar minhas habilidades. <br /><br />

        Linguagens, frameworks e bibliotecas com as quais tenho
        experiência(Conhecimento): <br /><br />

        <span class="skills">
          <strong>HTML</strong> ❖ <strong>CSS</strong> ❖ <strong>JavaScript</strong> ❖
          <strong>Ruby</strong> ❖ <strong>Python</strong> ❖ <strong>TypeScript</strong> ❖
          <strong>Node.js</strong> ❖ <strong>React.js</strong> ❖ <strong>React</strong> ❖
          <strong>Angular</strong> ❖ <strong>Nest.js</strong> ❖ <strong>Ruby on Rails</strong>
        ❖ <strong>SQL</strong>
      </span>
    </span>
    </div>
    <hr class="section-divider">
    <app-experience></app-experience>
    <hr class="section-divider">
    <app-project></app-project>
  </div>
</section>
