.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
  max-width: 70rem;
  position: relative;

  .header-content {
    // position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 4rem;

    .navbar {
      margin-top: 2rem;
    }
  }
}
