<section id="about" class="about">
  <h2 class="about-title">SOBRE MIM</h2>
  <div class="about-profile">
    <span class="about-text">
      Sou um desenvolvedor júnior com uma trajetória singular. Minha paixão pela
      tecnologia começou em 2005 com o web design, despertando uma curiosidade
      que cultivei ao longo dos anos até decidir mergulhar profissionalmente
      neste universo em 2024.<br /><br />
      Atualmente, combino pensamento analítico com criatividade para enfrentar
      desafios de programação, sempre com uma abordagem prática e forte desejo
      de evolução contínua. Meu foco está em criar soluções tecnológicas que
      façam diferença real, seja melhorando experiências de usuário ou
      otimizando processos essenciais.<br /><br />
      Trabalho no desenvolvimento de aplicações web com ênfase em usabilidade e
      eficiência, contribuindo para projetos que tornam serviços mais acessíveis
      e humanizados. Minha experiência inclui o desenvolvimento de sistemas que
      impulsionam a transformação digital e geram impacto positivo para usuários
      finais.<br /><br />

      Busco constantemente aprimorar minhas habilidades técnicas enquanto
      mantenho o foco na criação de soluções que realmente impactem as pessoas e
      negócios.<br /><br />
      <app-skills></app-skills>
    </span>
  </div>
</section>
