<section id="about" class="about">
  <h2 class="about-title">SOBRE MIM</h2>
  <div class="about-profile">
    <span class="about-text">
      Sou um <strong>desenvolvedor de software júnior</strong>, apaixonado por
      transformar ideias em soluções digitais funcionais e acessíveis. Desde que
      decidi ingressar profissionalmente na área em <strong>2024</strong>, tenho
      me dedicado a aprimorar minhas habilidades tanto no
      <strong>front-end</strong> quanto no
      <strong>back-end</strong>.<br /><br />

      Minha abordagem combina pensamento analítico e
      <strong>criatividade</strong> para enfrentar desafios de programação,
      sempre com uma perspectiva prática e um forte desejo de
      <strong>evolução contínua</strong>. Busco criar aplicações que melhorem a
      experiência do usuário e otimizem processos essenciais, contribuindo para
      projetos que tornam serviços mais <strong>acessíveis</strong> e
      <strong>humanizados</strong>.​ <br /><br />

      Atualmente, estou envolvido no desenvolvimento de aplicações web com
      ênfase em <strong>usabilidade</strong> e <strong>eficiência</strong>.
      Tenho trabalhado em projetos que impulsionam a transformação digital e
      geram <strong>impacto positivo</strong> para os usuários finais.
      <br /><br />

      Estou constantemente buscando
      <strong>aprimorar minhas habilidades técnicas</strong>, mantendo o foco na
      criação de soluções que façam a <strong>diferença</strong>. <br /><br />
      <app-skills></app-skills>
    </span>
  </div>
</section>
