.about {
  .about-title {
    margin-top: 5rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #03e9f4;
    font-weight: 400;
  }

  .about-profile {
    .about-text {
      line-height: 1.42;
      color: #d7f5ff;
      font-weight: 400;
      font-size: 0.9rem;

      strong {
        color: #e3f4fa;
      }
    }
  }
}

@media (max-width: 900px) {
  .about {
    .about-title {
      font-size: 1.2rem;
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }

    .about-text {
      font-size: 0.8rem;
    }

    .about-profile {
      .about-text {
        line-height: 1.2;
      }
    }
  }

}
