.about {
  .about-profile {
    .about-text {
      line-height: 1.42;
      color: #d7f5ff;
    }

    .skills {
      strong {
        color: #74c0fc;
        font-size: 0.8rem;
      }
    }
  }
}
