<section class="projects">
  <div id="projects" class="projects-container">
    <h2 class="projects-title">{{ title() }}</h2>
    <div class="projects-grid">
      @for (project of projects; track project.id) {
      <div class="project-card" (click)="navigateToGithub(project.githubLink)">
        <div class="project-image">
          <img [src]="project.image" [alt]="project.title" />
        </div>
        <div class="project-content">
          <a
            [href]="project.githubLink"
            target="_blank"
            rel="noopener noreferrer"
            class="corner-link"
            (click)="$event.stopPropagation()"
          >
            <fa-icon [icon]="faExternalLink"></fa-icon>
          </a>
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-description">{{ project.description }}</p>
          <div class="project-tech">
            <div class="tech-tags">
              @for (tech of project.technologies; track $index) {
              <span class="tech-tag">{{ tech }}</span>
              }
            </div>
          </div>
        </div>
      </div>
      }

      <div class="see-more-container">
        <button class="see-more-btn" (click)="viewMoreProjects()">
          <fa-icon [icon]="faGithub"></fa-icon>
          {{ seeMoreText() }}
        </button>
      </div>
    </div>
  </div>
</section>
