:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 100%;
}

.app {
  display: grid;
  grid-template-columns: 0.45fr 0.55fr;
  gap: 3rem;
  max-width: 70rem;
  width: 100%;

  .header {
    position: sticky;
    top: 1rem;
    height: calc(100vh - 2rem);
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
