.social {
  padding-bottom: 4rem;

  .social-links {
    display: flex;
    gap: 1rem;

    a {
      color: #03e9f4;
      font-size: 1.5rem;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: #8a2be2;
        transform: translateY(-3px);
      }
    }
  }
}
