<section class="main">
  <div class="about" @fadeInUp [@fadeInUp]="{params: {delay: 100}}">
    <app-about></app-about>
  </div>

  <hr class="section-divider" />

  <div class="experience" @fadeInUp [@fadeInUp]="{params: {delay: 300}}">
    <app-experience></app-experience>
  </div>

  <hr class="section-divider" />

  <div class="project" @fadeInUp [@fadeInUp]="{params: {delay: 500}}">
    <app-project></app-project>
  </div>

  <hr class="section-divider" />

  <div class="footer" @fadeInUp [@fadeInUp]="{params: {delay: 700}}">
    <app-footer></app-footer>
  </div>
</section>
