@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root {
  --background-dark: #03071a;
  --text-light: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-dark);
  color: var(--text-light);
  font-family: "Source Code Pro", monospace;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem;
}
